APP_ENV=local

# Opcache
PHP_OPCACHE_VALIDATE_TIMESTAMPS=1

PHP_XDEBUG_REMOTE_HOST=host.docker.internal
PHP_XDEBUG_DISCOVER_CLIENT_HOST=0
PHP_XDEBUG_REMOTE_PORT=9003
PHP_XDEBUG_MODE=develop,coverage,debug,profile
PHP_XDEBUG_IDEKEY=VSCODE
PHP_XDEBUG_START_WITH_REQUESTS=yes
PHP_XDEBUG_OUTPUT_DIR=/var/www/html/storage/logs
PHP_XDEBUG_LOG_LEVEL=7
